body {
  background-color: #708090;
  color: #e6e6e6;
}

main .content {
  max-width: 640px;
}

a {
  color: #e6e6e6;
}

a:hover {
  color: #333333;
}

.with-bg {
  background-color: rgba(256, 256, 256, 0.07);
}
